.page-body.boilerplate {
  .gif {
    width: 300px;
    height: 200px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;

    &.loading,
    &.error {
      line-height: 200px;
      word-wrap: none;
      text-align: center;
      border: 1px dashed black;
    }
  }
}